@import "tailwindcss";












@keyframes subtleSwing {
  0%, 100% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
}

.swing-animation {
  animation: subtleSwing 3.5s ease-in-out infinite;
}




.vertical-timeline-custom-line .vertical-timeline-element-content {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1) !important;
  border-radius: 8px !important;
}

.vertical-timeline-custom-line .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #fff, 0 2px 8px rgba(0,0,0,0.2) !important;
}

.vertical-timeline::before {
  background: #FDC700 !important;
  width: 4px !important;
 
}

.vertical-timeline::before {
   
    top: 30px  !important;
    height: 83% !important;
}